<div class="text-center py-24">
  <p class="text-base font-semibold text-yellow-600 dark:text-yellow-400">422</p>
  <h1 class="mt-4 text-4xl font-semibold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">
    Unprocessable request
  </h1>
  <p class="mt-6 text-base/7 text-gray-600 dark:text-gray-300">
    The change you requested was rejected. Please try again.
  </p>
  <div class="mt-10">
    <%= btn "Go back home", href: root_path, icon: "arrow-left" %>
  </div>
</div>
